<div class="container mt-3">
   <div class="row">
      <div class="col text-center">
         <img src="img/fajar.jpg" alt="Muhammad Fajar" class="img-thumnail rounded-circle" width="200" height="200" />
         <h1 class="display-4">Muhammad Fajar</h1>
         <p class="lead">Creator | Software Developer</p>
      </div>
   </div>
</div>