@use 'modules/fonts';

// Styles
body {
   font-family: 'Montserrat', sans-serif;;
   &::before {
      content: '';
      background-image: url(../img/bg.png);
      background-position: top right;
      background-repeat: no-repeat;
      background-size: 60vmax;
      opacity: 0.8;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
   }
   @media screen and (max-width: 992px) {
      opacity: 0.8;
   }
}
