/* .box {
   background-color: lightblue;
   height: 100vh;
} */

/* .box {
   background-color: lightblue;
   height: 50vmax;
   height: 50vmax;
} */

.dropdown {
   position: relative;
   display: inline-block;
}

.dropdown-content {
   display: none;
   position: absolute;
   background-color: #f9f9f9;
   min-width: 160px;
   box-shadow: salmon;
   padding: 12px 16px;
   z-index: 1;
}

.dropdown:hover .dropdown-content {
   display: block;
}