body,
html {
   height: 100%;
   margin: 0;
}

.bg-home {
   background-image: url("/image/brid.jpg");
   min-height: 100%;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}